
<div class="card-table">
  <div class="card-content">
    <div class="toolbar"></div>
    <div class="material-datatables">
      <div class="card-content table-responsive">
        <button type="submit" class="btn btn-danger" (click)="openModal(template)"><span class="glyphicon glyphicon-plus-sign"></span>ADD NEW USER</button>
        <template #template>
          <div class="modal-header">
            <h4 class="modal-title pull-left">Modal</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="card-content">
      <h4 class="card-title">ADD NEW USERS</h4>
      <div class="toolbar"></div>
      <div class="material-datatables">
        <form #f="ngForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group form-black label-floating is-empty">
                <label>Name</label>
                <input type="text" class="form-control" [(ngModel)]="employeesName" [value]="employeesName" name="employeesName">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group form-black label-floating is-empty">
                <label>Image</label>
                <input type="text" class="form-control" [(ngModel)]="images" [value]="images" name="images">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group form-black label-floating is-empty">
                <label>Position</label>
                <input type="text" class="form-control" [(ngModel)]="jobPositions" [value]="jobPositions" name="jobPositions">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group form-black label-floating is-empty">
                <label>Course</label>
                <input type="text" class="form-control" [(ngModel)]="totalCourse" [value]="totalCourse" name="totalCourse">
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-danger pull-right" (click)="onSave()">Save</button>
          <div class="clearfix"></div>
        </form>
      </div>
    </div>
          </div>
        </template>

        <table class="table">
          <thead class="text-danger">
            <tr>
              <th>PHOTO</th>
              <th>EMPLOYEE NAME</th>
              <th>JOB POSITION </th>
              <th>SIGNUP DATE</th>
              <th>TOTAL COURSE</th>
              <th>ACTION</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let c of data">
              <td><img [src]="c.images"></td>
              <td>{{c.employeesName}}</td>
              <td>{{c.jobPositions}}</td>
              <td>{{c.signUp}}</td>
              <td>{{c.totalCourse}}</td>
              <td>
                <button type="button" name="button">Show</button>
                |
                <button type="button" name="button">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
